@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    color: black;
    scale: 1.1;
   
    border-bottom: solid 1px black;
}
.gradient-box{
    background: linear-gradient(135deg, #30F 0%, #FA00FF 98.32%);

}